<h3>these data are going to be sent</h3>
<%= form_with(model: @post, url: posts_path, local: true) do |form| %>

<div class="post_content">
  <%= form.label :content %>
  <%= form.text_area :content %>
</div> <br>

<div>
  <%= image_tag(@post.avatar.url) if @post.avatar && @post.avatar.url %>
  <%= form.hidden_field :avatar_cache %>
</div>

<%= form.submit  "Registre" %>
  <%= form.submit "戻る" , name: 'back'%>
<% end %>

<%= link_to 'Back', :back %>
